.page-header {
  position: relative;
  width: 100%;
  min-height: 73px;

  @media (min-width: @tablet) {
    min-height: 132px;
  }

  @media (min-width: @desktop) {
    min-height: 136px;
    padding-top: 30px;
    background-color: @basic-blue;
  }
}

.page-header__logo-wrapper {
  width: 100%;
  min-height: 73px;
  box-sizing: border-box;
  background-color: @basic-blue;

  &--opened,
  &--nojs {
    background-color: @white;
  }

  &--scroll {
    position: fixed;
    z-index: 10;
    background-color: @white;
  }

  @media (min-width: @tablet) {
    .container-tablet ();
    min-height: 132px;
    background-color: @blue-most-dark;

    &--opened,
    &--nojs {
      background-color: @white;
    }

    &--scroll {
      position: fixed;
      z-index: 10;
      background-color: @white;
    }
  }

  @media (min-width: @desktop) {
    .container-desktop ();
    min-height: 90px;
    background-color: @basic-blue;

    &--scroll {
      width: 100%;
      max-width: 100%;
      padding: 0;
      position: fixed;
      z-index: 10;
      background-color: @white;
    }
  }
}

.page-header__logo-inner {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  @media (min-width: @desktop) {
    justify-content: stretch;
    padding: 0;
  }
}

.page-header__logo-wrapper--scroll .page-header__logo-inner {
  @media (min-width: @desktop) {
    .container-desktop ();
  }
}

.page-header__logo {
  display: block;
  width: 96px;
  height: 73px;
  margin-left: 25px;
  background: url("../img/logo-mobile-white.png") 0 19px no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/logo-mobile-white@2x.png");
    background-size: 96px auto;
  }

  @media (min-width: @tablet) {
    width: 166px;
    height: 42px;
    margin: 5px 0 0;
    background-image: url("../img/logo-tablet-white.png");
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-tablet-white@2x.png");
      background-size: 166px auto;
    }
  }

  @media (min-width: @desktop) {
    width: 200px;
    height: 52px;
    margin-top: 17px;
    background-image: url("../img/logo-desktop-white.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-desktop-white@2x.png");
      background-size: 200px auto;
    }
  }
}

.page-header__logo-wrapper--opened .page-header__logo,
.page-header__logo-wrapper--scroll .page-header__logo {
  width: 100px;
  background-image: url("../img/logo-mobile-blue.png");
  background-position-y: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/logo-mobile-blue@2x.png");
    background-size: 100px auto;
  }

  @media (min-width: @tablet) {
    width: 164px;
    height: 42px;
    background-image: url("../img/logo-tablet-blue.png");
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-tablet-blue@2x.png");
      background-size: 164px auto;
    }
  }

  @media (min-width: @desktop) {
    width: 198px;
    height: 60px;
    background-image: url("../img/logo-desktop-blue.png");
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-desktop-blue@2x.png");
      background-size: 198px auto;
    }
  }
}

.page-header__logo-wrapper--nojs .page-header__logo {
  width: 100px;
  background-image: url("../img/logo-mobile-blue.png");
  background-position-y: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/logo-mobile-blue@2x.png");
    background-size: 100px auto;
  }

  @media (min-width: @tablet) {
    width: 164px;
    height: 42px;
    background-image: url("../img/logo-tablet-blue.png");
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-tablet-blue@2x.png");
      background-size: 164px auto;
    }
  }

  @media (min-width: @desktop) {
    width: 198px;
    height: 60px;
    background-image: url("../img/logo-desktop-white.png");
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-desktop-white@2x.png");
      background-size: 198px auto;
    }
  }
}

.page-header__contacts {
  display: none;

  @media (min-width: @tablet) {
    display: block;
  }

  @media (min-width: @desktop) {
    display: flex;
    min-width: 288px;
    padding-top: 19px;
    box-sizing: border-box;
  }
}

.page-header__contacts .contacts-login__link {
  @media (min-width: @tablet) {
    display: none;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}

.page-header__logo-wrapper--nojs + .page-header__contacts {
  bottom: -497px;
}
